nav{
  padding: 0 20px;
  margin-bottom: 30px;
}
.container{
  width:90%;
}
.listbutton{
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}


.imgProfilNav{
  max-height: 50px;
  margin-top: 5px;
}

.aProfilNav{
  max-height: 64px;
}
/* .listbutton li{
  padding: 10px;
} */

.display{
  display:block;
}
.displayNone{
  display:none;
}
