nav{
  padding: 0 20px;
  margin-bottom: 30px;
}
.container{
  width:90%;
}
.listbutton{
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}


.imgProfilNav{
  max-height: 50px;
  margin-top: 5px;
}

.aProfilNav{
  max-height: 64px;
}
/* .listbutton li{
  padding: 10px;
} */

.display{
  display:block;
}
.displayNone{
  display:none;
}

.cardWithBtn{
  max-width: 250px;
  text-align: center;
  margin-bottom: 20px;
}

#content{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btnDelete{
  background-color: rgb(163, 22, 17);
}
.btnDelete:hover{
  background-color: rgb(189, 69, 65);
}

.imgDuProfil{
  max-width: 500px;
}

.iconeType{
  max-width: 50px;
}

.flextest{
  display: flex;
  justify-content: space-between;
}
